/* style principal pour toutes les sections :taille de police, marge et padding */
section{
    font-size: 20px;
    padding-left:  15%;
    padding-right: 15% ;
    margin-bottom: 30px;
}

/* les titres h2 et paragraphes ont une marge au dessus */
h2,p,ul{
    margin-bottom: 10px;
}

/* le logo est placé a droite du text */
#spacelogo{
    float: right;
    clear: right;
    background-color: white;
    height: 50px;
    margin-bottom: 10px;
}

li{
    list-style-type: disc;
}

/* responsive afficher la section 2 en colonne */

@media screen and (max-width: 920px){
    .sec2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}