/* style principal pour toutes les sections :taille de police, marge et padding */
section{
    font-size: 20px;
    padding-left:  15%;
    padding-right: 15% ;
    margin-bottom: 30px;
}

/* placé le logo de tesla a droite du paragraphe */
#teslalogo{
    float: right;
    clear: right;
}

/* les titres h2 et paragraphes ont une marge au dessus */
h2,p{
    margin-bottom: 10px;
}

/* les photos des voitures sont affiché en flex , resposive selon la taille d'ecran */
.voiture{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* centré le nom des véhicules */
.carcontainer{
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,.24);
    margin-bottom: 10px;
}

/* les dimensions de les photos */
#carpic{
    height: 200px;
    width: 300px;
}

/* responsive , les dimensions des videos deminus si la taille d'ecarn est moins de 670px */
@media screen and (max-width:670px){
    iframe{
        width: 280px;
        height: 157px;
    }
}

